@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap");
:root {
  --level-one: translateZ(3rem);
  --level-two: translateZ(6rem);
  --level-three: translateZ(9rem);
  --fw-normal: 400;
  --fw-bold: 700;
  --clr-dark: #2e2e2e;
  --clr-light: #ffffff;
  --clr-accent: #d99b42;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.flipcard.body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Be Vietman Pro", sans-serif;
}

ul {
  text-align: left;
}

a {
  text-decoration: none;
  color: var(--clr-accent);
}

/* My Interests */

.my-interests {
  display: flex;
  padding: 2em;
}

.card {
  width: 400px;
  padding: 1em;
}

.card__content {
  text-align: center;
  position: relative;
  padding: 15em 5em;
  transition: transform 2s;
  transform-style: preserve-3d;
}

.card:hover .card__content {
  transform: rotateY(0.5turn);
}

.card__front,
.card__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5em 3em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  display: grid;
  align-content: center;
}

.card__front {
  background-color: var(--clr-dark);
  background-size: cover;
  background-blend-mode: overlay;
  color: var(--clr-light);
  border-radius: 16px;
}

.card__front-concerts {
  background-image: url(https://images.unsplash.com/photo-1580000222412-e8187573e4f7?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MjEwODM5NQ&ixlib=rb-1.2.1&q=85);
}

.card__front-shows {
  background-image: url(https://images.unsplash.com/photo-1579935339434-f0f4e6646fdb?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MjExMzMyNg&ixlib=rb-1.2.1&q=85);
}

.card__front-restaurant {
  background-image: url(https://images.unsplash.com/photo-1611765083444-a3ce30f1c885?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0MjEwODUwOQ&ixlib=rb-1.2.1&q=85);
}

.card__front::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 2.5px solid currentColor;
  border-radius: 16px;
  transform: var(--level-one);
}

.card__title {
  font-size: 2rem;
  transform: var(--level-three);
  order: 2;
  text-transform: uppercase;
}

.card__subtitle {
  transform: var(--level-two);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  opacity: 0.7;
}

.card__body {
  transform: var(--level-two);
  font-weight: var(fw-normal);
  font-size: 1rem;
  line-height: 1.6;
  list-style: none;
  text-align: left;
  text-decoration: none;
}

.card__back {
  transform: rotateY(0.5turn);
  color: var(--clr-light);
  background: var(--clr-dark);
  border-radius: 16px;
}
